#ub_global_footer_content {
    position: relative;
    background-color: inherit;
}

#ub_global_footer_content p {
    margin-bottom: 0;
}


.logo_hse img{
    height: 100px;
}

.logo_linis img {
    height: 100px;
}

.navbar-inverse .navbar-brand {
    color: #1f88ca;
    font-weight: 700;
    font-size: 24px;
}

.navbar-inverse .navbar-brand:hover {
    color: #333;
}